*{
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(222, 222, 35);
}

body{
    background-color: rgb(202, 230, 148);
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 150px repeat(5,60px);
    background-color: rgb(215, 114, 114);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 5px #00000033;
}


button{
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    box-shadow: 5px 5px 5px -3px #00000040, -5px -5px 10px 3px #f0b7dc1f;
    background-color: rgb(215, 114, 114);
}

button:active{
    background-color:rgb(104, 20, 20) ;
}

#display{
    grid-column: 1/-1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(66, 56, 56);
    border-radius: 10px;
    margin: 10px;
   
}

.btnGrande{
grid-column: span 2;
}